.mainBox {
  min-height: 300px;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

.mainBox > :nth-child(6) {
  color: aliceblue;
  background-color: tomato;
}

.mainBox:hover > :nth-child(2) {
  background-color: #242430;
  transition: height 1s ease-in;
  height: 150px;
}
.secondaryBox > :nth-child(n) {
  opacity: 0;
}
.screenIcon {
  opacity: 0;
}
.mainBox:hover > .screenIcon {
  transition: opacity 1.5s ease-in;
  opacity: 1;
}
.screenIcon {
  position: absolute;
  z-index: 9;
  top: 88%;
  left: 93%;
}
.mainBox:hover > .secondaryBox > :nth-child(n) {
  transition: opacity 1.5s ease-in;
  opacity: 1;
}
.secondaryBox {
  height: 0px;
  width: 100%;
  z-index: 9;
  position: absolute;
  bottom: 10;
  padding: 15px 15px;
}
